.div{
        background-image: url(./img/assassinlog.png);
        background-size: 100%,100%;       
        background-repeat: no-repeat;
        height: 1500px;
        width: 100%;
        text-align: center;
        box-shadow: 10px 10px grey;
        font-stretch: condensed;
        font-style: italic;
        font-weight: normal;
        outline-color: white;
        outline-style: dotted;
        outline-width: thick;
    }
   .div_ul{
   	text-align: top;
   	color: white;
   }
div，table,th,td
    {
    	border:1px solid black;
    	color: white;
    }